<app-page-header title="A propos de nous"></app-page-header>

<div class="whole-wrap">
  <div class="container box_1170">
    <div class="section-top-border">
      <h3 class="mb-30">Qui sommes nous ?</h3>
      <div class="row">
        <div class="col-lg-12">
          <blockquote class="generic-blockquote">
            <!-- GENERATION DOREE (GDO) est une organisation à but non lucratif.
            C’est une association de jeunes disposés à mettre leurs potentiels au service de
            la société afin de l’impacter positivement. Ainsi l’objectif est de promouvoir
            d’une part l’éducation et le leadership à travers une école de formation, et
            d’autre part l’engagement communautaire en créant un réseau d’entraide
            solidaire. -->
            <!-- GENERATION DOREE (GDO) est une organisation à but non lucratif.
            Nous sommes un réseau de jeunes engagés prêts à être acteurs du changement.
            Notre objectif est de promouvoir l’initiative de la jeunesse au sein de la société
            afin de l’améliorer et d’impacter positivement les générations futures. -->
            <!-- Génération Dorée (GDO) est une organisation à but non lucratif. Nous sommes une association qui vise à bâtir une jeunesse engagée et actrice du changement.
            Notre objectif est d’inciter les jeunes à  s’impliquer davantage au sein de leur société afin de l’améliorer. -->
            GENERATION DOREE (GDO) est une organisation à but non lucratif mise sur pied le 1er février 2023.
            Son objectif est d’inciter les jeunes à s’impliquer dans l’évolution de la société.
            Le slogan qui est d’ailleurs « Soyez le changement que vous souhaitez » rappelle que le
            perfectionnement du monde incombe à tous. Nous croyons que chacun à son échelle, a un rôle à jouer pour
            le bien être de la communauté. La citation qui caractérise mieux la vision de l’association est d’ailleurs
            celle du regretté écrivain Bernard B. Dadié : « C’est pendant ta jeunesse que tu dois planter un arbre pour
            se coucher profiter de son ombre pendant ta vieillesse ». Le nom Génération Dorée est donc porteur d’optimisme et
            d’aspirations. Il reflète notre engagement à soutenir et inspirer la jeunesse dans son cheminement vers un avenir
            prometteur. Nous mettons en avant les jeunes en tant que ressource précieuse et dynamique à ne pas négliger.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- latest_activites_area_start  -->
<div class="latest_activites_area">
  <div class=" video_bg_1 video_activite  d-flex align-items-center justify-content-center">
    <!-- <a class="popup-video" href="https://www.youtube.com/watch?v=MG3jGHnBVQs">
              <i class="flaticon-ui"></i>
          </a> -->
  </div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-7">
        <div class="activites_info" style="padding-top: 100px !important;padding-bottom: 100px !important;">
          <div class="section_title">
            <h3> <span>Présidente Fondatrice</span><br>
              </h3>
              <h1 style="color: #ffcc00;">OZOUA SERI</h1>
              <div style="height: 400px;width: 100%;" class=" video_bg_1_ d-lg-none  d-flex align-items-center justify-content-center">
                <!-- <a class="popup-video" href="https://www.youtube.com/watch?v=MG3jGHnBVQs">
                          <i class="flaticon-ui"></i>
                      </a> -->
              </div>
          </div>
          <!-- <p class="para_1">Âgée de 23 ans, Ozoua SERI est une juriste de formation en Droit des
            Affaires et Management. Philanthrope, elle prend part activement
            à la vie communautaire en mettant sa plume au service des causes sociales.
          </p>
          <p class="para_2">
            Jeune écrivaine elle est l’auteure du recueil de nouvelles « IL ÉTAIT UNE VOIX ».
            Aussi titulaire de trois prix littéraires respectivement obtenus à :
          </p>
          <p class="para_1">
            &nbsp;&nbsp;• 13 ans, Lauréate du concours national de Nouvelles à thème des éditions CÉDA<br>
            &nbsp;&nbsp;• 17 ans, 2ème Prix du concours national d’écriture championnat Graine du Savoir<br>
            &nbsp;&nbsp;• 21 ans, 2ème prix du concours international d'écriture Trophée des Plumes Youscribe 2021<br>
          </p>
          <p class="para_2">
            Elle a occupé pendant 2 ans le poste vice-responsable du comité Éducation & Social de l’association
            d’écriture dénommée Jeunes Écrivains Africains (JEA) ; au sein duquel elle piloté des projets caritatifs et
            formatifs.
          </p>
          <p class="para_1">
            Confiante du rôle majeur que la jeunesse doit jouer dans la société, elle fonde GÉNÉRATION DORÉE pour
            permettre à tous ceux qui désirent participer au changement de le faire.
          </p> -->

          <p class="para_1">
          Je suis Ozoua Seri, une jeune leader et écrivaine engagée. Mon parcours m'a amenée à explorer des domaines qui me passionnent, à savoir la littérature, l’engagement communautaire et le leadership chez les jeunes.
          </p>
          <p class="para_2">
          « Tu ne peux pas refaire le monde » ou « tu es trop petite pour vouloir améliorer des choses qui existent depuis longtemps ». Ce sont des phrases que j’ai souvent entendues lorsque je soulevais des sujets dit tabous ou que je tentais d’apporter des solutions nouvelles.
          Loin de me freiner, ces affirmations n’ont fait que nourrir encore plus mes convictions. Avec du recul, j’ai finalement compris qu’additionner nos actions individuelles créera un impact collectif.
          Il me fallait donc réunir la jeunesse, lui rappeler son potentiel et lui offrir les outils nécessaires pour façonner sont avenir.
          </p>
          <p class="para_1">
          En semant les graines du changement aujourd’hui, aussi petites qu’elles soient, les générations futures récolteront un héritage d’espoirs de progrès et d’opportunités.
          </p>
          <p class="para_2">
          OUI, nous sommes tous capables de changer le monde et cela commence maintenant avec la jeunesse car IL N’Y A PAS POUR IMPACTER POSITIVEMENT.
          </p>
          <a href="https://linktr.ee/ozouaseri"  class="boxed-btn4">Plus d'informations</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- latest_activites_area_end  -->

<!-- nos_valeurs_area_start  -->
<div class="our_volunteer_area section_padding" style="padding: 60px 0 !important;">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="section_title text-center mb-55">
                  <h3><span>Nos Valeurs</span></h3>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
              <div class="single_volenteer">
                  <div class="volenteer_thumb">
                      <img src="assets/img/values/engagement.svg" alt="">
                  </div>
                  <div class="voolenteer_info d-flex align-items-end">
                      <div class="info_inner">
                          <h4>Engagement</h4>
                          <!-- <p>Donner</p> -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single_volenteer">
                  <div class="volenteer_thumb">
                      <img src="assets/img/values/leadership.svg" alt="">
                  </div>
                  <div class="voolenteer_info d-flex align-items-end">
                      <div class="info_inner">
                          <h4>Leadership</h4>
                          <!-- <p>Volunteer</p> -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single_volenteer">
                  <div class="volenteer_thumb">
                      <img src="assets/img/values/education.svg" alt="">
                  </div>
                  <div class="voolenteer_info d-flex align-items-end">
                      <div class="info_inner">
                          <h4>Éducation</h4>
                          <!-- <p>Volunteer</p> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- nos_valeurs_area_end  -->

<!-- domaines_actions_area_start  -->
<div class="news__area section_padding" style="padding: 60px 0 !important;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
          <div class="section_title text-center mb-55">
              <h3><span>Nos domaines d'actions</span></h3>
          </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-6 col-xs-12"><div style="background-color: #ffcc00;" class=" domaine align-items-center"><i class="fa fa-medkit fa-2x" ></i> La santé</div></div>
      <div class="col-6 col-xs-12"><div style="background-color: #095859;" class=" domaine align-items-center"><i class="fa fa-balance-scale fa-2x" ></i>Le droit</div></div>
      <div class="col-6 col-xs-12"><div style="background-color: #7eb394;" class=" domaine align-items-center"><i class="fa fa-book fa-2x" ></i> L’éducation</div></div>
      <div class="col-6 col-xs-12"><div style="background-color: #3CC78F;" class=" domaine align-items-center"><i class="fa fa-users fa-2x"></i>L’Éco-citoyenneté</div></div>
    </div>
  </div>
</div>
<!-- domaines_actions_area_end  -->
