#activity-span-cdo::before{
  background-color: #e9b6ad !important;
}
.aside-cat{
  background-color:  #e9b6ad !important;
  h4{
    color: white !important;
  }
  p{
    color: white !important;
  }
  .cat-active{
    p{
      color: #999999 !important;
    }

  }
}

