<!-- slider_area_start -->
<div class="slider_area">
  <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
      <div class="container">
          <div class="row">
              <div class="col-lg-9">
                  <div class="slider_text ">
                      <!-- <span>Soyez le changement que vous souhaitez.</span>
                      <h3> « C’est pendant ta jeunesse que tu dois planter un arbre pour se coucher profiter de son ombre
                        pendant ta vieillesse. »</h3>
                      <p>Bernard B. Dadié</p> -->
                      <span> </span>
                      <h3>Soyez le changement que vous souhaitez !</h3>
                      <p> </p>
                      <a href="javascript:void(0)" class="boxed-btn3" [routerLink]="['/a-propos-de-nous']">A propos de nous</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- slider_area_end -->

<!-- nos_valeurs_area_start  -->
<div class="our_volunteer_area section_padding" style="padding: 60px 0 !important;">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="section_title text-center mb-55">
                  <h3><span>Nos Valeurs</span></h3>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
              <div class="single_volenteer">
                  <div class="volenteer_thumb">
                      <img src="assets/img/values/engagement.svg" alt="">
                  </div>
                  <div class="voolenteer_info d-flex align-items-end">
                      <div class="info_inner">
                          <h4>Engagement</h4>
                          <!-- <p>Donner</p> -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single_volenteer">
                  <div class="volenteer_thumb">
                      <img src="assets/img/values/leadership.svg" alt="">
                  </div>
                  <div class="voolenteer_info d-flex align-items-end">
                      <div class="info_inner">
                          <h4>Leadership</h4>
                          <!-- <p>Volunteer</p> -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single_volenteer">
                  <div class="volenteer_thumb">
                      <img src="assets/img/values/education.svg" alt="">
                  </div>
                  <div class="voolenteer_info d-flex align-items-end">
                      <div class="info_inner">
                          <h4>Éducation</h4>
                          <!-- <p>Volunteer</p> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- nos_valeurs_area_end  -->

<!-- domaines_actions_area_start  -->
<div class="news__area section_padding" style="padding: 60px 0 !important;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
          <div class="section_title text-center mb-55">
              <h3><span>Nos domaines d'actions</span></h3>
          </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-6 col-xs-12"><div style="background-color: #ffcc00;" class=" domaine align-items-center"><i class="fa fa-medkit fa-2x" ></i> La santé</div></div>
      <div class="col-6 col-xs-12"><div style="background-color: #095859;" class=" domaine align-items-center"><i class="fa fa-balance-scale fa-2x" ></i>Le droit</div></div>
      <div class="col-6 col-xs-12"><div style="background-color: #7eb394;" class=" domaine align-items-center"><i class="fa fa-book fa-2x" ></i> L’éducation</div></div>
      <div class="col-6 col-xs-12"><div style="background-color: #3CC78F;" class=" domaine align-items-center"><i class="fa fa-users fa-2x"></i>L’Éco-citoyenneté</div></div>
    </div>
  </div>
</div>
<!-- domaines_actions_area_end  -->

<!-- popular_causes_area_start  -->
<div class="popular_causes_area section_padding" style="padding: 60px 0 !important;">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="section_title text-center mb-55">
                  <h3><span>Nos initiatives</span></h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="row">
                  <div class="single_cause col-6 col-xs-12">
                      <div class="thumb" style="height: 400px;display: flex;
                      justify-content: center;
                        align-items: center;    background-color: #095859;">
                          <img src="assets/img/logos/Coeur d_Or 1.png" alt="">
                      </div>
                      <div class="causes_content">
                          <div class="balance d-flex justify-content-between align-items-center">
                              <span>Le pôle social de l’association</span>
                          </div>
                          <h4>COEUR D’OR</h4>
                          <p class="oft3lines">Personne n’est ni trop jeune ni trop vieux pour être utile. Nous ne sommes pas
                            responsables des malheurs des autres mais pouvons contribuer à leur bien-être à
                            travers des dons et aides de toutes sortes. Nous avons conscience des réalités de
                            notre époque et sommes en mesure d’apporter des solutions durables grâce à la
                            diversité de nos compétences et l’engagement de tous. Nous impliquer pour
                            notre communauté, c’est participer à rendre le monde meilleur.</p>
                          <a class="read_more" href="javascript:void(0)" [routerLink]="['/actions/coeur-d-or']">Voir plus</a>
                      </div>
                  </div>
                  <div class="single_cause col-6 col-xs-12">
                      <div class="thumb"  style="height: 400px;display: flex;
                      justify-content: center;
                        align-items: center;    background-color: azure;">
                          <img src="assets/img/logos/Shine Acad logo2.png" alt="">
                      </div>
                      <div class="causes_content">
                          <div class="balance d-flex justify-content-between align-items-center">
                              <span>Le pôle éducatif de l’association</span>
                          </div>
                          <h4>LA SHINE ACADEMY</h4>
                          <p class="oft3lines">Face à l’évolution du continent, il est nécessaire d’avoir un éveil de conscience
                            et une mise à niveau. L&#39;éducation est un puissant facteur de changement et nous
                            avons la chance d’avoir des canaux de communication modernes et accessibles
                            pour SE FORMER et S’INFORMER.</p>
                          <a class="read_more" href="javascript:void(0)" [routerLink]="['/actions/shine-academy']">Voir plus</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- popular_causes_area_end  -->

<!-- counter_area_start  -->
<div class="counter_area" style="padding: 60px 0 !important;">
  <div class="container">
      <div class="counter_bg overlay" >
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="single_counter d-flex align-items-center justify-content-center">
                      <div class="icon">
                          <img height="72px" style="color: white;" src="assets/img/icons/members.png" alt="">
                      </div>
                      <!-- class="counter" -->
                      <div class="events">
                          <h3 class="">{{numberOfMembers}}</h3>
                          <p>Membres</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single_counter d-flex align-items-center justify-content-center">
                      <div class="icon">
                        <img height="72px" style="color: white;" src="assets/img/icons/activities.png" alt="">
                      </div>
                      <div class="events">
                          <h3 class="">{{numberOfActivities}}</h3>
                          <p>Activités</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single_counter d-flex align-items-center justify-content-center">
                      <div class="icon">
                        <img height="72px" style="color: white;" src="assets/img/icons/partners.png" alt="">
                      </div>
                      <div class="events">
                          <h3 class="">{{numberOfPatners}}</h3>
                          <p>Partenaires</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- counter_area_end  -->

<!-- news__area_start  [hidden]="!activities.length"  -->
<div *ngIf="activities.length"   class="news__area section_padding" style="padding: 60px 0 !important;">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="section_title text-center mb-55">
                  <h3><span>Dernières activités</span></h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="news_active owl-carousel">
                  <div *ngFor="let activity of activities"   class="single__blog d-flex align-items-center ">
                      <div class="thum ">
                          <img class="carmobileimg" height="300px" [src]="activity.attributes.picture?.data?.attributes?.url" alt="">
                      </div>
                      <div class="newsinfo ">
                          <span class="">{{activity.attributes.createdAt | date : 'd'}}, {{activity.attributes.date | date : 'MMM'}} {{activity.attributes.date | date : 'y'}}</span>
                          <a href="javascript:void(0)"  [routerLink]="['/activites']">
                              <h3 class="oft3lines " style="max-width: 250px;">{{activity.attributes.title}}</h3>
                          </a>
                          <p class="oft3lines " style="max-width: 250px;height: 100px;">{{activity.attributes.description}}</p>
                          <a *ngIf="activity.attributes.categorie_de_l_activites.data[0]?.id! ==1" class="read_more" href="javascript:void(0)" [routerLink]="['/actions/coeur-d-or']" fragment="activity-span-cdo">voir plus</a>
                          <a *ngIf="activity.attributes.categorie_de_l_activites.data[0]?.id! ==2" class="read_more" href="javascript:void(0)" [routerLink]="['/actions/shine-academy']" fragment="activity-span-sa">voir plus</a>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
<!-- news__area_end  -->

<!-- our_volunteer_area_start  -->
<div *ngIf="partners.length" class="our_volunteer_area section_padding" style="padding: 60px 0 !important;">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="section_title text-center mb-55">
                  <h3><span>Nos partenaires</span></h3>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div *ngFor="let partner of partners" class="col-lg-4 col-md-6">
              <div class="single_volenteer">
                  <div class="volenteer_thumb">
                      <img height="250px" [src]="partner.attributes.picture?.data?.attributes?.url" alt="">
                  </div>
                  <div class="voolenteer_info d-flex align-items-end">
                      <!-- <div class="social_links">
                          <ul>
                              <li>
                                  <a href="#"> <i class="fa fa-facebook"></i> </a>
                              </li>
                              <li>
                                  <a href="#"> <i class="fa fa-pinterest"></i> </a>
                              </li>
                              <li>
                                  <a href="#"> <i class="fa fa-linkedin"></i> </a>
                              </li>
                              <li>
                                  <a href="#"> <i class="fa fa-twitter"></i> </a>
                              </li>
                          </ul>
                      </div> -->
                      <div class="info_inner">
                          <h4>{{partner.attributes.name}}</h4>
                          <!-- <p>Donner</p> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- our_volunteer_area_end  -->

<!-- reson_area_start  -->
  <!-- <div class="reson_area section_padding" style="padding: 60px 0 !important;">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="section_title text-center mb-55">
                      <h3><span>Nos actions</span></h3>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-6 col-md-6">
                  <div class="single_reson">
                      <div class="thum">
                          <div class="thum_1">
                              <img height="500px" src="assets/img/logos/Coeur d_Or 1.png" alt="">
                          </div>
                      </div>
                      <div class="help_content">
                          <h4>COEUR D’OR</h4>
                          <h5>Le pôle social de l’association</h5>
                          <p>Lorem ipsum, or lipsum as it is
                              sometimes known, is dummy
                              text used in laying out print.</p>
                          <a href="#" class="read_more">Read More</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="single_reson">
                      <div class="thum">
                          <div class="thum_1">
                              <img height="500px" src="assets/img/logos/Shine Acad logo2.png" alt="">
                          </div>
                      </div>
                      <div class="help_content">
                          <h4>LA SHINE ACADEMY</h4>
                          <h5>Le pôle éducatif de l’association</h5>
                          <p>Lorem ipsum, or lipsum as it is
                              sometimes known, is dummy
                              text used in laying out print.</p>
                          <a href="#" class="read_more">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
<!-- reson_area_end  -->
