#activity-span-sa::before{
  background-color: #b96c44 !important;
}
.aside-cat{
  background-color:  #b96c44 !important;
  h4{
    color: white !important;
  }
  p{
    color: white !important;
  }
  .cat-active{
    p{
      color: #999999 !important;
    }

  }
}
